header {
    min-height: 100px;
    width: 100%;
    background: #191919;
    border-bottom: 2px solid white;
}

.right {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    color: white;
    margin-top: 20px;
    margin: 10px;
}
