<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="font-weight: bold; font-size: 25px;">
        ALUMNOS
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><ul>
        <li [ngClass]="i % 2 == 0 ? 'backgroundRed' : 'backgroundWhite' " *ngFor="let alumno of alumnos; let i = index">
          <span>Nombre: {{alumno.name | uppercase}} </span>
          <span>Apellido: {{alumno.lastName |uppercase}} </span> 
          <span>Fecha de nacimiento: {{alumno.date | date: "shortDate"}} </span>
        </li>
      </ul>
      </div>
   