<main>

  <nav class="d-flex flex-column align-items-center justify-content-around w-100 h-100">
    <div class="d-flex align-items-center">
      <a href="#first"><i class="far fa-user"></i></a>
      <span class="text-white">User</span>
    </div>
    <div class="d-flex align-items-center">
      <a href="#second"><i class="fas fa-briefcase"></i></a>
      <span class="text-white">Work</span>
    </div>
    <div class="d-flex align-items-center">
      <a href="#third"><i class="far fa-file"></i></a>
      <span class="text-white">File</span>
    </div>
    <div class="d-flex align-items-center">
      <a href="#fourth"><i class="far fa-address-card"></i></a>
      <span class="text-white">Info</span>
    </div>
  </nav>
  </main> 

 
<!-- 
 <section id= 'first'>
   <h1>Primero</h1>
 </section>
 
 <section id= 'second'>
   <h1>Segundo</h1>
 </section>
 
<section id= 'third'>
  <h1>Tercero</h1>
 </section>
 
<section id= 'fourth'>
  <h1>Cuarto</h1>
 </section>
</div> -->