<form 
(ngSubmit)="onSubmit()"
[formGroup]="alumnosForm"
>
  <div class="input-group mt-4 m-3 w-70">
    <span class="input-group-text" id="basic-addon1">User</span>
    <input
      [ngClass]="alumnosForm.get('usuario')?.valid ? 'valid-input' : 'invalid-input' "
      formControlName="usuario"
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Usuario"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="input-group mb-3 m-3" >
    <input
      [ngClass]="alumnosForm.get('email')?.invalid ? 'valid-input' : 'invalid-input' "
      formControlName="email"
      type="text"
      class="form-control"
      placeholder="Email"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <span class="input-group-text" id="basic-addon2">@example.com</span>
  </div>
  <div class="input-group mb-3 m-3">
    <input
      [ngClass]="alumnosForm.get('password')?.valid ? 'valid-input' : 'invalid-input' "
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="Password"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <span class="input-group-text" id="basic-addon2">Password</span>
  </div>
  <div class="input-group m-3 d-flex justify-content-center">
    <!-- <button type="button" class="btn btn-primary text-center">Submit</button> -->
    <input class="btn btn-primary text-center" type="submit" value="Submit" [disabled]="alumnosForm.valid ? true : false">
  </div>
</form>
